# OS files
.DS_Store
Thumbs.db

# Editor/IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Environment variables
.env
.env.*

# Packer
packer_cache/
*.box

# Secrets / Keys
*.pem
*.key
*.p12
*.pfx

# Temporary files
tmp/
temp/

