[Unit]
Description=Restart Docker Service
After=docker.service
Wants=network-online.target
Requires=docker.service

[Service]
WorkingDirectory=/Users/sild/Projects/Personal/local_db/db_data/
ExecStart=/usr/local/bin/docker-compose up -d

[Install]
WantedBy=default.target
